@media only screen and (max-width: 480px) {
    #messagesWrapper{
       width:100% !important;
    }
    
    #translations{
       width:100% !important;
    }
    
    .menu{
       display: block !important;
    }
 
}

div{
    padding:0px;
    margin:0px;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    font-size:16pt;
    background: #D80C4A;
}

input, textarea{
    font-family: Helvetica, Arial, sans-serif;
    font-size:15pt;
    padding:5px;
    border: 0px solid;
    border-radius: 11px;
    background: #DEDEDE;
    outline: none;
    
}

input[type="submit"]{
    background: #FF530D;
    border: #000000;
    color: #ffffff;
    -webkit-appearance: none;
    
   
}

.centerWrapper{
    
}

.menu{
    display: none;
    margin-top: 10px;
}


.button{
    display: inline-block;
    cursor: pointer;
    background: #000000;
    color: #EEEEEE;
    border: 0px;
    border-radius: 11px;
    padding: 5px;
    font-size: 14pt;
}

.button.english{
    display:none;
}

#nickname{
       position: relative;
       display: block;  
       width:80%;
       padding:20px;

}


#nickname input[type="text"]{
    width:200px;
    float:left;
    margin-right:10px;
    padding:5px;
}

#nickname input[type="submit"]{
}

#chat{
    position: relative;
    width: 98%;
    display: none;
    overflow: hidden;
}

.status{
    color: #6D8DEF;
    font-size: 12pt;
}

#translations{
    position: relative;
    width:98%;
    white-space: nowrap;
}



#messagesWrapper{
    position: relative;
    width:50%;
    display: inline-block;
}



.messages{
    display: block;
    width: 100%;
    background: #FAFAFA;
    border-radius: 11px;
    white-space: normal;

}


.messages p{
    margin:0px;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:10px;
    padding-left:10px;
}

.label{
    font-size: 12pt;
    color: #AAAAAA;
}

#message{
    clear: both;
    width:97%;
    resize: none;
    height:80px;
    margin-top:10px;
    max-width: 400px;
    background: #FFFADA;
    color: #000000;
}